:coffee
  $ ->
    split = ( val ) ->
      return val.split( /,\s*/ )
    extractLast = ( term ) ->
      return split( term ).pop()
    $('#blog_tag_list').bind( "keydown", ( ev ) ->
      if ( event.keyCode == $.ui.keyCode.TAB && $( this ).data( "ui-autocomplete" ).menu.active )
        event.preventDefault();
    ).autocomplete
      minLength: 0,
      source: (request, response) ->
        $.getJSON '#{blog_tags_path}', { term: extractLast( request.term ) }, (results) ->
          terms = new Array()
          for result in results
            terms.push(result.name)
          response terms
      focus: ->
        false
      select: ( event, ui ) ->
        terms = split( this.value )
        terms.pop()
        terms.push( ui.item.value )
        terms.push( "" )
        this.value = terms.join( ", " )
        return false

= form_for @blog do |f|
  = render 'error_messages', object: f.object
  .row-fluid
    .span4
      %p
        = f.label :title
        = f.text_field :title
      %p
        = f.label :slug
        = f.text_field :slug
      %p
        = f.label :tag_list
        = f.text_field :tag_list
      %p
        = f.label :blog_category_id
        = f.collection_select :blog_category_id, BlogCategory.all, :id, :name, prompt: 'select category'
      %p
        = f.label :user_id, 'Author'
        = f.collection_select :user_id, User.all, :id, :name, prompt: 'select author'
      %p
        = f.label :image
        = f.file_field :image
      %p
        = f.label :published
        = f.check_box :published
      %p
        = f.label :created_at
        = f.datetime_select :created_at
    .span8
      %p
        = f.label :intro_text
        = f.text_area :intro_text, style: 'width: 100%', rows: '5'
      %p
        = f.label :full_text
        = f.text_area :full_text, style: 'width: 100%', rows: '20'
  .row-fluid
    .span12
      = f.submit f.object.new_record? ? 'Create Blog' : 'Update Blog'
      = link_to 'Cancel', manage_blogs_path
  .row-fluid
    .span8.offset4= render 'shared/markdown_key'
